RewriteEngine On
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1 [L]

<FilesMatch "^(package\.json|tailwind\.config\.js|webpack\.config\.js|\.env|node_modules|src)">
    Order Allow,Deny
    Deny from all
</FilesMatch>